<%= @course.title %>


<div class="cards d-flex justify-center w-100">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%= @course.photo_url %>
" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> <%= @course.description  %>  </p>
    </div>
  </div>

</div>
  
<div class="container">
  <div class="form-wrapper" style="width:500px margin 0 auto;">
    <h1>Choose your time</h1>
  <%= simple_form_for :search, method: :get do |t|  %>
  <%= t.input :starts_at,as: :string,input_html: { class:"datepicker"} %>
  <%= t.input :ends_at,as: :string,input_html: { class:"datepicker"}  %>
  <%= t.submit "Go",class: "btn" %>
  <% end %>
  </div>
</div>