<%= @course.title %>

<div class="container">

<div class="cards d-flex justify-center w-100">
  <div class="card" style="width: 9rem;">
    <img class="card-img-top" src="<%= @course.photo_url %>
" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> <%= @course.description  %>  </p>
    </div>
  </div>

    </div>
</div>
  
















<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <!-- Insert form here -->








<div class="container">
  <div class="form-wrapper">
    <h2>Book a Course</h2>
    <%= simple_form_for [@course, @booking] do |f| %>
      <%= f.input :start_date, label: "Sélectionnez vos dates:",
                               as: :string,
                               required: false,
                               input_html: { id: "range_start"} %>
      <%= f.input :end_date, label: false,
                             as: :string,
                             required: false,
                             input_html: { id: "range_end" } %>
      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



    </div>
  </div>
</div>

<div id="booking-form-div"
     data-bookings="<%= @bookings_dates.to_json %>">